.card {
  padding-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .container{
  visibility: hidden;
  display: none;
}
.card:hover > .container {
  transition: 1s;
  background-color: yellow;
  visibility: visible;
  display: unset;
}

.card-image{
  width: 300px;
}
.container {
  padding: 2px 2px;
}

.focus:focus {
  background-color: yellow;
  visibility: visible;
  display: unset;
}